@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: LemonMilk;
	src: url(../fonts/lemonmilk/LemonMilk.otf);
}

:root {
	--accent-color: #3B9DFF;
	--text-color: #353535;
	--background: white;
	--top-bar-height: 70px;
	--background-color: #7BCDFF;
	--sb-width: -15px;
	--text-background: #FFF;
	--design-margin: 200px;
	font-family: lato, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#top-nav {
	position: fixed;
	height: var(--top-bar-height);
	width: 100%;
	height: 70px;
	text-align: left;
	margin: 0;
	padding: 0 10%;
	box-shadow: 0 0 20px 0 grey;
	background: var(--text-background);
}
#top-nav img,h1 {
	height: 50px;
	line-height: 70px;
	display: inline-block;
	vertical-align: middle;
	color: var(--text-color);
	padding: 10px 5px;
	margin: 0;
}
#top-nav h1 {
	font-size: 50px;
	color: var(--text-color);
}
#nav-menu {
	color: var(--accent-color);
	text-decoration: none;
}
#nav-menu-arrow {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 0 5px 5px 0;
	transform: rotate(45deg);
	vertical-align: top;
	margin-top: 25px;
}
#nav-dd {
	transition-duration: 0.3s;
	display: flex;
	flex-flow: column;
	position: fixed;
	left: calc(10% + 444px);
	top: 2px;
	background: var(--text-background);
	box-shadow: 0 0 10px 0 grey;
	border-radius: 7px;
	padding: 5px 0;
	z-index: 5;
	max-height: 200px;
}
#nav-dd.hidden {
	opacity: 0;
	padding: 0;
	pointer-events: none;
	max-height: 50px;
}

.nav-dd-option {
	padding: 5px 10px;
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.nav-dd-option a {
	color: var(--accent-color);
	text-decoration: none;
}
.nav-dd-option:hover {
	background-color: #EEE;
}

#top-nav-spacer {
	height: var(--top-bar-height);
}
#content-wrapper {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 100%;
	min-height: calc(100% - 70px);
	pointer-events: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
	overflow: scroll;
	margin: 0;
	padding: 0;
}

h1, h2, h4, .nav-dd-option {
	font-family: LemonMilk, sans-serif;
	font-weight: 300;
}

h1 {
	display: block;
}
h3 {
	margin-top: 3px;
	margin-bottom: 1px;
	text-align: left;
}

h1, h2 {
	color: var(--accent-color);
	padding: 0;
}

h4 {
	font-size: 40px;
}

.page-wrapper {
	position: absolute;
  overflow: hidden;
	height: 100vh;
	margin: 0;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: all;
	scroll-behavior:
}

.hidden {
	display: none;
}

.underrow {
	margin-bottom: 12px;
	width: 100%;
	height: 2px;
	background: var(--accent-color);
}

#design-frame {
	position: absolute;
	width: 100%;
	/* left: var(--design-margin); */
  /* width: calc(100% - var(--design-margin) * 2); */
}
