@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: LemonMilk;
	src: url(../fonts/lemonmilk/LemonMilk.otf);
}

:root {
	--page-accent0: #3B9DFF;
	--page-accent1: #3AC679;
	--page-accent2: #B537FF;

	--accent-color: #3B9DFF;
	--text-color: #353535;
	/* --background: black;--white; */
	--top-bar-height: 70px;
	--background-color: black;--#7BCDFF;
	--sb-width: -15px;
	--text-background: #FFF;
	--page-padding: 20%;
	font-family: lato, sans-serif;
}

body {
	font-size: 14pt;
	padding: 0;
	margin: 0;
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
	overflow: scroll;
	margin: 0;
	padding: 0;
}

h1, h2, h4, .nav-dd-option {
	font-family: LemonMilk, sans-serif;
	font-weight: 300;
}

h1 {
	display: block;
}

h3 {
	margin-top: 3px;
	margin-bottom: 1px;
	text-align: left;
}

h1, h2 {
	color: var(--accent-color);
	padding: 0;
}

h4 {
	font-size: 40px;
}

.page-wrapper {
	position: absolute;
  overflow: hidden;
	height: 100vh;
	margin: 0;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: all;
	scroll-behavior:
}

.hidden {
	display: none;
}

.underrow {
	margin-bottom: 12px;
	width: 100%;
	height: 2px;
	background: var(--accent-color);
}

#design-frame {
	position: absolute;
	width: 100%;
}

.no-scrollbar-child {
	background: var(--background-gradient);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: var(--sb-width);
	overflow: auto;
	padding: 0;
	margin: 0;
	padding-left: 2px;
}

.padded {
	padding: 0 var(--page-padding);
}

#sb-test {
  margin-top: -100px;
  height: 100px;
  overflow: scroll;
}
#sb-test-inner {
  height: 200px;
}