
#scroll-attract {
	position: absolute;
	width: 100%;
	display: block;
	text-align: center;
}

#sa-arrow {
	display: inline-block;
	text-align: center;
	position: fixed;
	border-color: white;//var(--accent-color);
	border-width: 5px;
	border-style: none none solid solid;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	transform: rotate(-45deg);
	margin-top: -25px;
}

#sa-line {
	display: inline-block;
	text-align: center;
	position: fixed;

	background-color: white;//var(--accent-color);
	width: 5px;
	height: 200px;
}

.design-cluster {
	position: absolute;
	width: 100%;
}


.parallax {
	position: absolute;
	display: block;
}

.design-show {
	position: absolute;
	display: block;
	background-color: #FFFFFFD5;
	box-shadow: 0 0 25px 0 #00000050;
	border-radius: 4px;
}

.label h1{
	display: block;
	color: white;//var(--accent-color);
	font-family: LemonMilk, sans-serif;
  text-shadow: 0.5vw 0.5vw #353535;

	font-size: 7.5vw;
	line-height: 7.5vw;
	margin: 0;
	margin-left: -0.2vw;
	margin-bottom: calc(9vw - 60px);
	padding: 0.01vw 0;
}

.label {
	display: block;
	color: var(--text-color);
	font-family: lato, sans-serif;
	font-weight: 100;
	font-size: 2.5vw;
	line-height: 2.5vw;
	padding: 1vw 2vw;
	margin: 0;
  border-radius: 10px;
  left: 12.5%;
  width: 70%;
}

.mask {
  background: var(--background-dark);
  background-attachment: fixed;
}

#header {
  box-shadow: none;
  background: var(--text-background);
  z-index: 1;
  left: 5%;
  width: 85%;
}
#header h1 {
  color: var(--accent-color);
  text-shadow: none;
}

.design-show.label {
	box-shadow: 0 0 10px 0 #00000035;
  background-color: #FFFFFFE0;
  width:auto;
  border-radius: 4px;
}

#sb-test {
  margin-top: -100px;
  height: 100px;
  overflow: scroll;
}
#sb-test-inner {
  height: 200px;
}

.no-scrollbar-parent {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
  width: 100%;
}
.no-scrollbar-child {
	background: var(--background-dark);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: var(--sb-width);
	overflow: auto;
	padding: 0;
}
