:root {
	--page-accent1: #3AC679;
	--page-background1: linear-gradient(#2C2C2C, #1A1A1A);
}

#page1 {
	--accent-color: var(--page-accent1);
  color: #DDD;
}

#page1 div::selection, #page1 h1::selection, #page1 h3::selection, #page1 h4::selection,
#page1 em::selection, #page1 strong::selection,
#page1 span::selection, #page1 a::selection, #page1 li::selection {
	background: #DDD5 !important;
}
#page1 div::-moz-selection, #page1 h1::-moz-selection, #page1 h3::-moz-selection, #page1 h4::-moz-selection,
#page1 em::-moz-selection, #page1 strong::-moz-selection,
#page1 span::-moz-selection, #page1 a::-moz-selection, #page1 li::-moz-selection {
	background: #DDD5 !important;
}

#page1 h1 {
  font-size: 39pt;
	line-height: 44pt;
	color: var(--accent-color);
	height: auto;
}

#page1 .accent-text {
	color: var(--accent-color);
}

#page1 a {
	color: inherit;
}

#page1 .par {
	margin-bottom: 16pt;
}

#page1 .kern-help {
	letter-spacing: -2pt;
}

#page1 li {
	margin-bottom: 6pt;
	list-style-type:none;
}
#page1 li {
  margin-left: -30pt;
  padding-right: 10pt;
}

#page1 h4 {
	font-family: lato, sans-serif;
	font-size: 16pt;
	color: var(--accent-color);
	display: inline-block;
	margin: 0;
}

#page1 .page-wrapper {
	z-index: 1;
}