:root {
	--accent-color: #CCC; /* set by js */
	--arrow-size: 10px;
}

.left-arrow {
	position: relative;
	top: calc(var(--top-bar-height) / 2 - 12.5px);
  width: 27px;
  height: 6px;
  margin: 10px;
	background-color: var(--text-color);
	float: left;
}
.left-arrow::after {
	position: absolute;
	top: -20px;
	left: -10px;
	content: "";
  width: 20px;
  height: 20px;
  border-width: 6px 0 0 6px;
  border-style: solid;
  margin: 10px;
	transform: rotate(-45deg);
	border-color: var(--text-color);
}

#top-nav {
	position: fixed;
	height: var(--top-bar-height);
	width: 100%;
	height: 70px;
	text-align: left;
	margin: 0;
	box-shadow: 0 0 20px 0 #0005;
	z-index: 4;
	/* box-shadow: inset 0 -20px 20px -20px #0005; */

	background: var(--text-background);
}
#top-nav img,h1 {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	vertical-align: middle;
	color: var(--text-color);
	padding: 10px 5px;
	margin: 0;
}
#top-nav h1 {
	font-size: 50px;
	color: var(--text-color);
}
#nav-menu {
	color: var(--accent-color);
	text-decoration: none;
}
#nav-menu-arrow {
	display: inline-block;
	content: "";
	width: var(--arrow-size);
	height: var(--arrow-size);
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 0 calc(var(--arrow-size) / 2) calc(var(--arrow-size) / 2) 0;
	transform: rotate(45deg);
	vertical-align: top;
	margin-top: 16px;
}
#nav-dd {
	transition-duration: 0.3s;
	display: flex;
	flex-flow: column;
	position: fixed;
	left: calc(var(--page-padding) + 449px);
	top: 2px;
	background: var(--text-background);
	box-shadow: 0 0 10px 0 grey;
	border-radius: 7px;
	padding: 5px 0;
	z-index: 5;
	max-height: 200px;
	overflow: hidden;
}
#nav-dd.hidden {
	opacity: 0;
	padding: 0;
	pointer-events: none;
	max-height: 50px;
}

.nav-dd-option {
	padding: 5px 10px;
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.nav-dd-option a {
	color: var(--accent-color);
	text-decoration: none;
}
.nav-dd-option:hover {
	background-color: #EEE;
}

#top-nav-spacer {
	height: var(--top-bar-height);
}
#content-wrapper {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 100%;
	min-height: calc(100% - 70px);
	pointer-events: none;
}
#top-bar-normal {
	transition-duration: 0.4s;
	padding-left: var(--page-padding);
	overflow: hidden;
	width: 100vw;
}
#top-bar-normal.hidden {
	display: block;
	opacity: 1;
	margin-left: 100%;
}

#top-bar-return {
	transition-duration: 0.4s;
	width: 100%;
	padding: 0 10px;
	position: fixed;
}
#top-bar-return.hidden {
	display: block;
	opacity: 1;
	margin-left: -100%;
	pointer-events: none;
}
#top-bar-return:hover{
	background-color: var(--accent-color);
	box-shadow: 0 0 30px 0 #000A;
}
#top-bar-return h1, #top-bar-return .left-arrow, #top-bar-return .left-arrow::after{
	transition-duration: 0.15s;
}
#top-bar-return:hover .left-arrow {
	background-color: white;
}
#top-bar-return:hover .left-arrow::after{
	border-color: white;
}

#top-bar-return:hover h1{
	color: white;
}

.page-wrapper {
	position: absolute;
  overflow: hidden;
	height: 100vh;
	margin: 0;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: all;
	scroll-behavior:
}

@media screen and (max-width: 1200px) {
	#top-nav h1 {
		font-size: 30pt;
	}
}
@media screen and (max-width: 900px) {
	#top-bar-normal {
		padding-left: 0;
		text-align: center;
	}
}
@media screen and (max-width: 700px) {
	#top-nav h1 {
		font-size: 20pt;
	}
	:root {
		--arrow-size: 7px;
	}
	#nav-menu-arrow {
		margin-top: 19px;
	}
}
@media screen and (max-width: 450px) {
	#top-nav h1 {
		font-size: 15pt;
	}
}