:root {
	--accent-color: var(--page-accent2);
	--text-color: #EEE;
}

body {
  /* background-color: var(--accent-color); */
	background: linear-gradient(-45deg, #d62de5, #8d48fc);
	background-attachment: fixed;
}

h1 {
	margin-bottom: 5pt;
  font-size: 39pt;
	line-height: 44pt;
	color: white;
}

.underrow {
	background-color: #EEE;
	clear: both;
}
.underrow.sm {
	margin-top: -5px;
	margin-bottom: 12px;
	height: 1px;
	background-color: #EEED;
}

a {
	color: var(--text-color);
}

h3 {
	font-size: 20pt;
	margin: 0;
}
h4 {
	font-family: lato, sans-serif;
	margin: 0;
	font-size: 16pt;
	line-height: 18pt;

	margin-bottom: 4pt;
}
h4 strong {
	font-weight: bold;
}
#about h4 {
	margin-bottom: 25px;
}


div::selection, h1::selection, h3::selection, h4::selection,
em::selection, strong::selection,
span::selection, a::selection, li::selection {
	background: #DDD7 !important;
}
div::-moz-selection, h1::-moz-selection, h3::-moz-selection, h4::-moz-selection,
em::-moz-selection, strong::-moz-selection,
span::-moz-selection, a::-moz-selection, li::-moz-selection {
	background: #DDD7 !important;
}

.par {
	margin-bottom: 16pt;
}

.img-top-space {
	height: 15px;
}
img {
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
img.pop {
	transition-duration: 0.25s;
	float: left;
	height: 100px;
	width: 175px;
	border-radius: 5px;
	margin-right: 15px;
	margin-bottom: 15px;
	box-shadow: 0 0 10px 0 #0003;
	opacity: 0.5;
}
img.pop:hover {
	box-shadow: 0 0 10px 0 #0006;
	opacity: 1;
}
#popup-img-back {
	transition-duration: 0.5s;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0009;
	text-align: center;
	line-height: 100%;
}
#popup-img-img {
	transition-duration: 0.5s;
	position: relative;
	display: inline-block;
	max-height: 60%;
	top: 17.5%;
	max-width: 90%;
	box-shadow: 0 0 10px 0 #0009;
	border-radius: 10px;
}
.no-img #popup-img-img {
	max-height: 10%;
}
.no-img {
	opacity: 0;
	pointer-events: none;
}
